.App {
  text-align: center;
}

.bowling-board--frame-rolls {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bowling-board--frame-rolls div {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bowling-board--frame-rolls > div {
  border-right: 1px solid rgb(224, 224, 224);
}

.bowling-board--frame-score {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
